# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.eep
line_follower/Debug/line_follower.hex
line_follower/Debug/line_follower.elf
line_follower/Debug/line_follower.d
line_follower/Debug/line_follower.lss
line_follower/Debug/line_follower.map
line_follower/Debug/line_follower.o
line_follower/Debug/line_follower.srec
line_follower/Debug/makedep.mk
line_follower/Debug/Makefile
line_follower/Debug/pio.d
line_follower/Debug/pio.o
line_follower/Debug/system.d
line_follower/Debug/system.o
line_follower/Debug/adc.d
*.d
*.o
*.o
line_follower/Debug/motor.o
line_follower/Debug/adc.d
line_follower/Debug/motor.o
line_follower/Debug/motor.d
line_follower/Debug/motor.o
line_follower/Debug/motor.o
line_follower/Debug/motor.d